node_modules/
**/node_modules/
**/venv/
build/
assets/
fonts/
.actions/
.certificates/
.circleci
.git/
.husky/
.next/
charts/
img/
**/*.min.js
**/*.min.css
.github/
.vscode/
.idea/
.dockerignore
.editorconfig
**/*.env
.gitignore
.hintrc
.todo
.unimportedrc.json
CODE-OF-CONDUCT.md
docker-compose.yml
Dockerfile
Dockerfile.circleCi
Dockerfile.dev
Dockerfile.ghActions
LICENSE
README.md
yarn.lock
yarn-error.log
