**/*.min.js
**/*.min.css
.vscode/
.idea/
node_modules/
**/node_modules/
**/venv/
test/
dist/
build/
.next/
.github/
.actions/
.certificates/
.circleci/
.git/
.husky/
charts/
assets/
img/
.unimportedrc.json
jsconfig.json
postcss.config.js
public/
tailwind.config.js
package.json
package-lock.json
.eslintrc.js
docker-compose.yml
README.md
**/*.css
**/locales/
.dockerignore
.editorconfig
**/*.env
.gitignore
.hintrc
.todo
CODE-OF-CONDUCT.md
Dockerfile
Dockerfile.circleCi
Dockerfile.dev
Dockerfile.ghActions
LICENSE
yarn.lock
yarn-error.log
