@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Castoro-Italic;
  font-style: normal;
  src: url("../fonts/Castoro-Italic.ttf");
  font-display: swap;
}

@font-face {
  font-family: Castoro-Regular;
  font-style: normal;
  src: url("../fonts/Castoro-Regular.ttf");
  font-display: swap;
}

@layer components {
	.stats {
		@apply bg-teal-600 bg-opacity-20 text-slate-100 p-4 flex-1 rounded-md shadow-xl drop-shadow-xl
	}

	.stats-container {
		@apply bg-teal-600 bg-opacity-10 p-7 rounded-lg shadow-lg drop-shadow-lg md:w-2/5 md:max-w-4xl
	}

	.countdown {
		@apply p-8 text-center text-white rounded-lg bg-teal-600 bg-opacity-20
	}

	.countdown-label {
		@apply text-white text-center uppercase mt-4
	}

	.adminButton {
		@apply flex flex-wrap items-center justify-center gap-x-2 hover:bg-opacity-50 md:block md:flex-nowrap
	}

}

* {
  font-family: Castoro-Regular, sans-serif;
}

.input-quantity[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
	margin: 0;
}

.input-quantity[type=number]::-webkit-inner-spin-button,
.input-quantity[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@supports (scroll-behavior: smooth) {
  * {
    scroll-behavior: smooth;
  }
}

html,
body {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
